@(name: String, value: Option[String], error: Boolean, i18n: String = "")(implicit request: play.api.mvc.Request[Any], lang: Lang)
<div class="form-group @("has-error".when(error == true))">
  <label for="@name" class="control-label">@Messages(if(i18n == "") { "field." + name.replace("[$x]", "") } else { i18n })</label>
  <div class="datetimepicker">
    <input name="@name" id="@name" type="text" class="form-control" data-format="@Messages("day.input.pattern")" name="startDate" placeholder="@Messages("day.input.pattern")" value="@value">
    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
  </div>
</div>
