html, body {
  height: auto !important;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.uploadField {
  overflow: hidden;
}

.uploadField input[type="file"] {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
}

.uploadField button[name="fileUploadProxy"] {
  margin: 0 !important;
  float: right;
  width: 25%;
  clear: none;
  line-height: 1em;
  height: 34px;
}

.uploadField input.uploadLabel {
  float: left;
  width: 73.5%;
  margin: 0 0 10px 0;
  cursor: pointer;
  background-color: #FFFFFF;
}