@()(implicit request: play.api.mvc.Request[Any], lang: Lang)
@import neo4j.models.AccessRight
@import global.Global

@import neo4j.models.user.User

@mainPage(Html(Messages("user.list.title"))) {
  @if(Global.hasCreateAccess(PlaySession.getUser, classOf[User])) {
    <a href="@routes.UserController.create" class="btn btn-primary pull-right">@Messages("user.create")</a>
  }
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>@Messages("name")</th>
            <th>@Messages("email")</th>
            <th>@Messages("user.open")</th>
          </tr>
        </thead>
        <tbody>
          @User.findListForUser(PlaySession.getUser).map { user =>
              @buildUser(user)
          }
        </tbody>
      </table>
    </div>
  </div>
}

@buildUser(user: User) = {
  <tr>
    <td>@user.name</td>
    <td>@user.email</td>
    <td><a href="@routes.UserController.edit(user.id)" class="btn btn-primary">@Messages("open")</a></td>
  </tr>
}
