@(headline: Html = Html(""), headline2: Html = Html(""), scripts: Html = Html(""), css: Html = Html(""))(content: Html)(implicit request: play.api.mvc.Request[Any], lang: Lang)

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="@Messages("keywords")">
    <meta name="description" content="@Messages("description")">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="7 days">
    <title>@Messages("title")</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/select2.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/select2-bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-datetimepicker.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/app.css")">
    @css

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">
    <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("img/favicon.png")">
  </head>
  <body class="smart-style-2">
    <header id="header">

        <!-- Fixed navbar -->
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">@Messages("toggle")</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.ApplicationController.index()">@Html(Messages("app.title"))</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              @if(PlaySession.isLoggedIn) {
                @buildNav("dashboard", "signal", routes.DashboardController.dashboard)
                @buildNav("users", "users", routes.UserController.userList)
                @buildNav("logout", "sign-out", routes.AuthenticationController.logout)
              } else {
                @buildNav("login", "sign-in", routes.AuthenticationController.login)
              }
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </header>

    <main class="container">
      <h1 class="page-header">@headline</h1>
      @content
    </main>

    <!-- delete modal -->
    <div class="modal fade" id="deleteModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">@Messages("delete")</h4>
          </div>
          <div class="modal-body">
          @Messages("delete.confirm")
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">@Messages("close")</button>
            <button type="button" class="btn btn-danger pull-right" id="deleteConfirm">@Messages("confirm")</button>
          </div>
        </div>
      </div>
    </div>

    <script type='text/javascript' src='@routes.Assets.at("javascripts/jquery-1.11.0.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/bootstrap.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/select2.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/jquery.autogrowtextarea.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/bootstrap-datetimepicker.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/app.js")'></script>
    @scripts
    <script src="@routes.ApplicationController.jsRoutes" type="text/javascript"></script>
  </body>
</html>

@buildNav(name: String, cssClass: String, route: Object) = {
  <li class="@("active".when(route.toString.equals(request.uri)))">
    <a href="@route">
      <i class="fa fa-@cssClass"></i> @Messages("navi." + name)
    </a>
  </li>
}
